In [1]:
def showDetails(*args):
    for i in range(len(args)):
        variable = args[i]
        print(f"The Value of { i+1 } variable is \t{variable }\t its id is \t {id(variable)}")
    
    print("\n\n")

In [3]:
#list operartion
listA = [2, 4, 6, [1, 3]]
listB = listA
showDetails(listA,listB)
listB[1] = 44

showDetails(listA,listB)
listB[3][1] = 10


showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 1841328099584
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 1841328099584



The Value of 1 variable is 	[2, 44, 6, [1, 3]]	 its id is 	 1841328099584
The Value of 2 variable is 	[2, 44, 6, [1, 3]]	 its id is 	 1841328099584



The Value of 1 variable is 	[2, 44, 6, [1, 10]]	 its id is 	 1841328099584
The Value of 2 variable is 	[2, 44, 6, [1, 10]]	 its id is 	 1841328099584

In [5]:
import copy
listA = [2, 4, 6, [1, 3]]
listB = copy.copy(listA)

showDetails(listA,listB)
listB[1] = 44
listB[3][0] = 55
showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 1841328054336
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 1841328059200



The Value of 1 variable is 	[2, 4, 6, [55, 3]]	 its id is 	 1841328054336
The Value of 2 variable is 	[2, 44, 6, [55, 3]]	 its id is 	 1841328059200

In [7]:
import copy
listA = [2, 4, 6, [1, 3]]
listB = copy.deepcopy(listA)
showDetails(listA,listB)
listB[1] = 44
listB[3][0] = 55
showDetails(listA,listB)

The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 1841328099456
The Value of 2 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 1841328096704



The Value of 1 variable is 	[2, 4, 6, [1, 3]]	 its id is 	 1841328099456
The Value of 2 variable is 	[2, 44, 6, [55, 3]]	 its id is 	 1841328096704

In [11]:
def greet(name):

    """Greets a person by their name."""
    return f"Hello, {name}!"

In [15]:
message = greet("Lavish")
print(message)  # Output: Hello, Lavish!

Hello, Lavish!

In [17]:
#write a function to add two values and use the this function and print the result 
def add(num1, num2):
    sum = num1 + num2
    print(sum)

add(15,59),

74

(None,)