In [13]:
# if block
a=10
b=1
if a > b:
    print("A > B")
    print("this condition is true")
if a < b:
    print("A < B")
    print("this condition is true")
if a == b:
    print("A == B")
    print("this condition is true")
if a != b:
    print("A != B")
    print("this condition is true")

A > B
this condition is true
A != B
this condition is true

In [17]:
# And, OR, Not operator
a = 100
b = 2
c = 30

if a > b and a > c:
    print("A is Largest")
elif b > a and b > c:
    print("B is Largest")
else:
    print("C is Largest")

A is Largest

In [ ]:
#nested If else Block
a = 100
b = 2
c = 30

if a > b:
    if a > c:
        print("A is Largest")
    else:
        print("C is Largest")
elif b > c:
    print("B is Largest")
else:
    print("C is Largest")

In [6]:
#function
""" 
def is short for definition
"""

def myprint(inputvar):
    a=inputvar
    print(f"value is {a}")
    print(f"id is {id(a)}")
    print(f"Type is {type(a)}")

myprint(10)
myprint(1)
myprint(100)

value is 10
id is 140731082685144
Type is <class 'int'>
value is 1
id is 140731082684856
Type is <class 'int'>
value is 100
id is 140731082688024
Type is <class 'int'>

In [8]:
d = input("Enter Name")

Enter Name dev gojiya

In [10]:
d

'dev gojiya'

In [14]:
number = int(input("Enter Number :"))

Enter Number : 874454513123

In [16]:
number

874454513123

In [22]:
#write a program user input first name and last name and great with like hii user and his name should be upper case

firstname = input("Enter Your First Name :")
lastname = input("Enter Your Last Name : ")

firstname = firstname.capitalize()
lastname = lastname.capitalize()

fullname = "Hello "+firstname +" "+ lastname
print(fullname)

Enter Your First Name : dev
Enter Your Last Name :  gojiya

Hello Dev Gojiya

In [ ]:
#write a program int from user and print out it table part 2 if not int than message him that you have to enter vaild input and give him a changes to re enter

In [24]:
# Loop until a valid integer is entered
while True:
    try:
        # Get user input
        number = int(input("Enter an integer: "))
        break  # Exit the loop if input is valid
    except ValueError:
        # Handle non-integer input
        print("Invalid input. Please enter a valid integer.")

# Generate and print the multiplication table
print(f"\n Multiplication Table for {number}:")
for i in range(1, 11):  # Loop from 1 to 10
    result = number * i
    print(f"{number} x {i} = {result}")

Enter an integer:  ghj

Invalid input. Please enter a valid integer.

Enter an integer:  78

 Multiplication Table for 78:
78 x 1 = 78
78 x 2 = 156
78 x 3 = 234
78 x 4 = 312
78 x 5 = 390
78 x 6 = 468
78 x 7 = 546
78 x 8 = 624
78 x 9 = 702
78 x 10 = 780